.tac{
  text-align:center;
}
.tal{
  text-align:left;;
}
.tar{
  text-align: right;
}
.taj{
  text-align: justify;
}
.white{
  color: #fff;
}
.black{
  color: #000;
}
.black-bg{
  background-color: #000;
}
